# Additonal configuration will be fetched from PostHog
EXPO_PUBLIC_POSTHOG_API_KEY=
# Optional edition name
EXPO_PUBLIC_EDITION_NAME=
# Conference date in YYYY-MM-DD format
EXPO_PUBLIC_CONFERENCE_DATE=
